.button {
    height: 24px;
    padding-top: 1px;
    width: 23px;
    border-radius: 2px;
    position: relative;
    color: #FFF;
}

.button:after {
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    color: #FFF;
    line-height: 12px;
    text-align: center;
}