#news-content p{
    padding-bottom: 10px;
}

#news-content li {
    padding-bottom: 20px;
}

#news-content .hidden {
    display: none;
}

#news-content .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}