#thought-content p{
    padding-bottom: 10px;
}

#thought-content li {
    padding-bottom: 20px;
}

#thought-content .hidden {
    display: none;
}

#thought-content .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}