.thought-content p{
    padding-bottom: 10px;
}

.thought-content li {
    padding-bottom: 20px;
}

.hidden {
    opacity: 0;
}

.thought-content .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}